# Rust
macos/target/
**/*.rs.bk

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml

# OS
.DS_Store
Thumbs.db

# Nix
result
result-*

# direnv
.direnv/

# IDE
.idea/
.vscode/
*.swp
*.swo
